Repository skyvanguard/arandu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Go formatting and linting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports

  # golangci-lint
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        entry: golangci-lint run --fix
        args: ['--config=backend/.golangci.yml']
        files: \.go$

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: sh -c 'cd frontend && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: sh -c 'cd frontend && yarn format:validate'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json|yarn.lock|go.sum

Add frontend tests to CI and configure Dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Fix router tests and add codecov badge
  README.md
  backend/router/router_test.go
Due: prettier

Add codecov configuration
  codecov.yml
Due: none

Relax linting rules for compatibility with existing code
  backend/.golangci.yml
  backend/graph/resolver_test.go
  backend/router/router_test.go
Due: none

Fix CI failures: update yarn.lock, format Go code, relax linters
  backend/.golangci.yml
  backend/errors/errors.go
  backend/executor/browser.go
  backend/executor/container.go
  backend/executor/processor.go
  backend/executor/queue.go
  backend/executor/terminal.go
  backend/graph/resolver_test.go
  backend/graph/subscriptions/manager.go
  backend/health/health.go
  backend/logging/logger_test.go
  backend/main.go
  backend/middleware/auth.go
  backend/middleware/auth_test.go
  backend/providers/providers.go
  backend/providers/providers_test.go
  backend/security/security.go
  backend/security/security_test.go
  backend/websocket/websocket.go
  frontend/src/test/setup.ts
  frontend/yarn.lock
Due: eslint, prettier

Fix Button test: use hierarchy prop instead of variant
  frontend/src/components/Button/Button.test.tsx
Due: eslint, prettier
